[submodule "images/default"]
	path = images/default
	url = https://github.com/MeticulousHome/ProfileDefaultImages
[submodule "profile_schema"]
	path = profile_schema
	url = https://github.com/MeticulousHome/espresso-profile-schema/
[submodule "default_profiles"]
	path = default_profiles
	url = https://github.com/MeticulousHome/ProfileDefaults
