body {
  display: flex;
  /* Habilita Flexbox */
  flex-direction: column;
  /* Ordena los elementos en una columna */
  min-height: 100vh;
  /* Altura mínima del 100% de la altura de la ventana del navegador */
  margin: 0;
  line-height: normal;
  background-color: var(--color-dark);
}

:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

:root {
  /* fonts */
  --font-montserrat: Montserrat;
  --font-inherit: inherit;
  --font-istok-web:
    "Istok Web";

  /* font sizes */
  --font-size-xl: 1.25rem;
  --font-size-base: 1rem;
  --font-size-5xl: 1.5rem;
  --font-size-21xl: 2.5rem;
  --font-size-xs: 1.0rem;

  /* Colors */
  --color-white: #fff;
  --color-light: #ddd;
  --color-goldenrod: #fdc352;
  --color-gainsboro: rgba(217, 217, 217, 0);
  --color-dark: #1b1e31;

  /* Paddings */
  --padding-8xl: 1.69rem;

  /* Border radiuses */
  --br-xl: 20px;

  /* Border radiuses */
  --br-10xs: 3px;
}