name: Build

on:
  push:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version-file: '.python-version'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8  flake8-deprecated flake8-annotations flake8-black black

    - name: Lint with flake8
      run: flake8 .

    - name: Check code formatting with black
      run: black --check .

  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version-file: '.python-version'
    - name: Install production dependencies
      continue-on-error: true
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Install dev dependencies
      run: pip install -r requirements-dev.txt

    - name: Run tests
      run: pytest tests/ -v
